
compCount:  2  # Number of components

# List of components from 1 to the number
<comp-01:   
  petListBounds: 0 3   # Each component should have a petListBound here they are absolute
  stateMembers: fields-A  # List of the members of the State being added in this component
  <fields-A:   # fields-A means that this is a list of Fields with name A, the names have to be unique across all the components
    count: 10  # number of fields build with this name
    typekind: R8  # type of the field
    geom: grid-A   # This set of fields will be built on a Grid
  :fields-A>  
:comp-01>

<comp-02:
  petListBoundsRel: 0.25 1.0   # Here we see relative Pet list bounds that will change with the petCount
  stateMembers: fields-B fields-C
  <fields-B:
    count: 20
    typekind: R8
    geom: mesh-B  # This set of fields will be built on a Mesh
  :fields-B>
  <fields-C:
    count: 5
    typekind: I4
    geom: grid-C
  :fields-C>
:comp-02>
