
compCount: 5  # Number of components

# List of components from 1 to the number
<comp-01:   
  petListBoundsRel: 0 0.3
  stateMembers: fields-A 
  <fields-A:  
    count: 100
    typekind: R8
    geom: grid-A 
  :fields-A>  
:comp-01>

<comp-02:
  petListBoundsRel: 0.2 0.5 
  stateMembers: fields-B
  <fields-B:
    count: 100
    typekind: R8
    geom: grid-B
  :fields-B>
:comp-02>

<comp-03:
  petListBoundsRel: 0.4 0.7 
  stateMembers: fields-C
  <fields-C:
    count: 100
    typekind: R8
    geom: grid-C
  :fields-C>
:comp-03>

<comp-04:
  petListBoundsRel: 0.6 0.9 
  stateMembers: fields-D
  <fields-D:
    count: 100
    typekind: R8
    geom: grid-D
  :fields-D>
:comp-04>

<comp-05:
  petListBoundsRel: 0.8 1.0 
  stateMembers: fields-E
  <fields-E:
    count: 100
    typekind: R8
    geom: grid-E
  :fields-E>
:comp-05>
