compCount:  2

<comp-01:
  petListBoundsRel: 0 0.25
  stateMembers: fields-1
  <fields-1:
    count: 10
    typekind: R8
    geom: grid-1
  :fields-1>
:comp-01>

<comp-02:
  petListBoundsRel: 0.25 1.0
  stateMembers: fields-2
  <fields-2:
    count: 20
    typekind: R8
    geom: grid-2
  :fields-2>
:comp-02>